{% extends 'base.html.twig' %}

{% block title %}modifier mon mot de passe | nunik{% endblock %}

{% block content %}
    <h1>modifier mon mot de passe</h1>

    - <a href = "{{ path('account') }}" >  retourner à mon compte</a ><br>
    <hr>
{#    mon formulaire#}
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>
    {#    {{  dump(app.user) }}#}
{% endblock %}
