.navbar-item-custom a{
    color: #ffff;
}
header{
    margin-bottom: 20px;
}

[role=main] {
    height: auto;
    width: auto;
  display: block;
}

.content-marketing  {
height: auto;
    width: auto;
    /*position: relative;*/

}

.product-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 2px;

}

.product-item{
    margin-top: 50px;
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-page-price{
    font-size: 18px;
}




.footer-custom{
   display: block;
    /*height: 100px;*/
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    /*margin-top: 10px;*/
    /*text-align: center;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 0;
}