*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}

body{
    /* 1/METHODE MIN-HEIGHT-CONTENT*/
    background-color: #ffffff;

    /* METHODE MIN-HEIGHT-CONTENT AVEC CALC*/
    position: relative;
    padding-bottom: 113px; /*taille du footer*/
    min-height: 100vh;
    /*display: block;*/
    /*position: relative;*/
    /*padding-bottom: 113px;*/
    /*min-height: 100vh;*/
}

/*.titre{*/
/*    color: transparent;*/
/*    background-clip: content-box ;*/
/*    background-image: linear-gradient(to right, gold, crimson);*/
/*}*/

.jingle{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*font-size: 70px;*/
    /*font-weight: 900;*/
    /*background-clip: text;*/
    /*color: transparent;*/
    /*-webkit-background-clip: text;*/
    /* background-image: linear-gradient(to right, gold, crimson);*/
}

video{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.titre-1{
    margin-top: 20px;
    font-weight: 900;
    font-size: 60px;
    line-height: 1;
    -webkit-text-stroke: 2px #222;
    opacity: 0.8;
    color: transparent;
    margin-left: 100px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, goldenrod 50%, deepskyblue 50%);
    transition: background-position ease-in-out 0.8s;
    background-size: 1% 200%;
}

.titre-1:hover{
    background-position: 0 -100%;
}
.navbar-item-custom a{
    color: #ffff;
}
/*header{*/
/*    margin-bottom: 20px;*/
/*}*/

[role=main] {
    /* METHODE MIN-HEIGHT-CONTENT*/
    /*width: 90vw;*/
    /*padding: 30px 20px;*/
    /*min-height: calc(100vh - 56px - 113px);*/

    /* METHODE MIN-HEIGHT-CONTENT*/
    width: 90vw;
    padding: 30px 20px;
    /*min-height: calc(100vh - 56px - 113px);*/

    /*height: auto;*/
    /*margin-bottom:10px;*/
    /*position: relative;*/
}

.content-marketing  {
    height: auto;
    width: auto;
    /*position: relative;*/

}

.product-item h5{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 2px;

}

.product-item{
    margin-top: 50px;
}

.product-item .product-subtitle{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-page-price{
    font-size: 18px;
}
/*form{*/
/*    !*position: relative;*!*/
/*}*/

.footer-custom{
   /*  METHODE MIN-HEIGHT CONTENT*/
   /* text-align: center;*/
   /* background-color: #dfeaff;*/
   /* padding: 20px;*/

    /*  METHODE MIN-HEIGHT CONTENT SANC CALC*/
    text-align: center;
    background-color: deepskyblue;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: 15px;

   /*display: block;*/
   /* height: 1px;*/
   /* justify-content: center;*/
    /*align-items: center;*/
    /*margin-top: 10px;*/
    /*text-align: center;*/
    /*position: absolute;*/
    /*bottom: 0; !*on enleve bottom zero*!*/
    /*   width: 100%;*/
    /*margin-top: 50px;*/

    /*margin-bottom: 0;*/
}

.cart-icon{
    height: 20px;
    padding-left: 20px;
}

.register-block{
    padding: 10px ;
    background-color: #fafafa;
}

.block-small{
    max-width: 600px;
    margin: 0 auto;
}

.form-check{
    background-color: lightskyblue;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label{
    font-weight: bold;
}

.oder-summary{
    background-color: lightskyblue;
    padding: 20px;
    margin-top: 22px;
}

@media screen and (max-width: 1200px){

}