.navbar-item-custom a{
    color: #ffff;
}
header{
    margin-bottom: 20px;
}

[role=main] {
    height: auto;
    width: auto;
  display: block;
}

.content-marketing  {
height: auto;
    width: auto;
    /*position: relative;*/

}

.footer-custom{
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    /*margin-top: 10px;*/
    /*text-align: center;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    background-color: #dfeaff;
    padding: 5px;
    margin-bottom: 0;
}